style.css
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    margin: 0;
  }

  .video-container {
    position: relative;
    width: 80%;
  }

  video { 
    width: 100%;
    height: auto;
    display: block;
  }

  .title {
    font-family: Helvetica, Arial;
    font-size: 256px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 32px;
    color: #777;
    margin-bottom: 40px;
  }